.config/Docker\ Desktop/
.config/Electron
.config/GIMP
.config/Google
.config/YouTube\ Music/
.config/dconf
.config/discord
.config/easyeffects
.config/go
.config/JetBrains
.config/obs-studio
.config/obsidian
.config/pulse
.config/spotify
.config/qBittorrent
.config/vlc

.config/fish/fish_variables
.config/cava/shaders
.config/ncspot/userstate.cbor
.config/QtProject.conf
.config/zoom.conf
.config/zoomus.conf
.config/ghostty/themes/pywal
.config/rmpc/themes/pywal.ron

.config/wpg/.current
.config/wpg/samples
.config/wpg/schemes
.config/wpg/sequences
.config/wpg/wallpapers
.config/wpg/wp_init.sh

.config/gtk-4.0/assets
.config/gtk-4.0/gtk-dark.css
.config/gtk-4.0/gtk.css

.config/nvim
.config/yazi
.config/tmux
