.config/Electron
.config/YouTube\ Music/
.config/Docker\ Desktop/
.config/dconf
.config/discord
.config/easyeffects
.config/go
.config/obsidian
.config/pulse
.config/vlc

.config/fish/fish_variables

.config/cava/shaders

.config/gtk-4.0/assets
.config/gtk-4.0/gtk-dark.css
.config/gtk-4.0/gtk.css

.config/nvim
.config/yazi
.config/tmux
